
*.pyc
CS50_python/week5_unit_tests/problem/temp.py
CS50_python/week6_File_IO/temp.py
/CS50_python/__init__.py
/.gitignore
/CS50_python/week7_regular_expressions/__init__.py
/CS50_python/week7_regular_expressions/problem/__init__.py
/CS50_python/week7_regular_expressions/problem/um/temp.py
/CS50_python/week7_regular_expressions/problem/um/__init__.py
/CS50_python/week7_regular_expressions/problem/.pytest_cache/
/CS50_python/week7_regular_expressions/problem/um/.pytest_cache/
CS50_python/week7_regular_expressions/problem/.DS_Store
CS50_python/week10_Course_Project/presentation/
/CS50_python/Certificat
My_Study/temp.py
