# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
click==7.1.2
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.0
MarkupSafe==2.0.0rc2
Werkzeug==2.0.0

# Flask Packages
Flask-Login==0.4.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
Flask-User==1.0.1.5

# Automated tests
pytest==3.0.5
pytest-cov==2.4.0
requests~=2.28.2
pytz~=2022.7
pip~=22.3.1
wheel~=0.38.4
tornado~=6.2
setuptools~=65.6.3
packaging~=22.0
py~=1.11.0
Mako~=1.2.4
Pygments~=2.14.0
SQLAlchemy~=1.4.45
python-dateutil~=2.8.2
alembic~=1.9.1
WTForms~=3.0.1
coverage~=7.0.4
greenlet~=2.0.1
psutil~=5.9.4
cs50~=9.2.4