{% extends 'lessons/base.html' %}
{% load static %}

{% block content %}

    <title>Обо мне</title>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Здравствуйте!</h4>
              <p> Меня зовут Анжела, и я являюсь профессиональным тренером по йоге с десятилетним опытом практики. Моя страсть к йоге началась еще в 2009 году, когда я первый раз попробовала эту прекрасную практику. Я была поражена её эффективностью и решила посвятить ей всю свою жизнь.
<br><br>Разумеется, столько лет практики не могли пройти даром, и я решила научиться этому чудесному искусству изнутри, получив профессиональное образование. В настоящее время я являюсь обладательницей диплома тренера по йоге и продолжаю свое обучение во имя совершенства своих умений.
<br><br>В своей работе я ставлю на первое место благополучие и удовлетворенность своих клиентов. Я помогаю людям достигать гармонии между телом и умом, приводя их в покой и расслабление. Мы живем в мире, полном стресса и напряжения, и мое уникальное подход к практике йоги может помочь вам справиться со всем этим.

<br><br>Если вы хотите обрести покой души и улучшить свое здоровье, обратитесь ко мне. Я всегда рада помочь и поделиться своим опытом с вами.

</p>
{#              <ul class="social-icons">#}
{#                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#              </ul>#}
            </div>
          </div>
        </div>
      </div>
    </div>

{##}
{#    <div class="team-members">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-md-12">#}
{#            <div class="section-heading">#}
{#              <h2>Моя команда:</h2>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <div class="team-member">#}
{#              <div class="thumb-container">#}
{#                <img src="{% static 'assets/images/team_01.jpg' %}" alt="">#}
{#                <div class="hover-effect">#}
{#                  <div class="hover-content">#}
{#                    <ul class="social-icons">#}
{#                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="down-content">#}
{#                <h4>Johnny William</h4>#}
{#                <span>CO-Founder</span>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <div class="team-member">#}
{#              <div class="thumb-container">#}
{#                <img src="{% static 'assets/images/team_02.jpg' %}" alt="">#}
{#                <div class="hover-effect">#}
{#                  <div class="hover-content">#}
{#                    <ul class="social-icons">#}
{#                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="down-content">#}
{#                <h4>Karry Pitcher</h4>#}
{#                <span>Product Expert</span>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <div class="team-member">#}
{#              <div class="thumb-container">#}
{#                <img src="{% static 'assets/images/team_03.jpg' %}" alt="">#}
{#                <div class="hover-effect">#}
{#                  <div class="hover-content">#}
{#                    <ul class="social-icons">#}
{#                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                      <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="down-content">#}
{#                <h4>Michael Soft</h4>#}
{#                <span>Chief Marketing</span>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{##}
{#    <div class="happy-clients">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-md-12">#}
{#            <div class="section-heading">#}
{#              <h2>Happy Partners</h2>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-12">#}
{#            <div class="owl-clients owl-carousel">#}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="1">#}
{#              </div>#}
{##}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="2">#}
{#              </div>#}
{##}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="3">#}
{#              </div>#}
{##}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="4">#}
{#              </div>#}
{##}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="5">#}
{#              </div>#}
{##}
{#              <div class="client-item">#}
{#                <img src="{% static 'assets/images/client-01.png' %}" alt="6">#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

{% endblock %}

